Repository crowdbotics/modules, pull requests merged in 2022-07, with the labels that each got.

#347 Post edit job screen
  README.md
  modules/screen-post-edit-job/assets/back.png
  modules/screen-post-edit-job/assets/box.png
  modules/screen-post-edit-job/assets/checkbox.png
  modules/screen-post-edit-job/assets/minus.png
  modules/screen-post-edit-job/assets/plus.png
  modules/screen-post-edit-job/assets/slider.png
  modules/screen-post-edit-job/index.js
  modules/screen-post-edit-job/meta.json
  modules/screen-post-edit-job/package.json
  modules/screen-post-edit-job/preview.png
Labels: screen-only

#346 Onboarding add certificate screen
  .github/workflows/lint.yml
  README.md
  modules/screen-onboarding-add-certificate/assets/back.png
  modules/screen-onboarding-add-certificate/assets/checkbox.png
  modules/screen-onboarding-add-certificate/assets/image.png
  modules/screen-onboarding-add-certificate/assets/upload.png
  modules/screen-onboarding-add-certificate/index.js
  modules/screen-onboarding-add-certificate/meta.json
  modules/screen-onboarding-add-certificate/package.json
  modules/screen-onboarding-add-certificate/preview.png
Labels: screen-only

#341 Place bid screen
  modules/screen-place-bid/assets/back.png
  modules/screen-place-bid/assets/eth.png
  modules/screen-place-bid/assets/minus.png
  modules/screen-place-bid/assets/plus.png
  modules/screen-place-bid/index.js
  modules/screen-place-bid/meta.json
  modules/screen-place-bid/package.json
  modules/screen-place-bid/preview.png
Labels: screen-only

#340 Minting 2 screen
  modules/screen-minting-2/assets/back.png
  modules/screen-minting-2/assets/copy.png
  modules/screen-minting-2/assets/down.png
  modules/screen-minting-2/assets/edit.png
  modules/screen-minting-2/assets/eth.png
  modules/screen-minting-2/assets/fullscreen.png
  modules/screen-minting-2/assets/heart.png
  modules/screen-minting-2/assets/minus.png
  modules/screen-minting-2/assets/pen.png
  modules/screen-minting-2/assets/plus.png
  modules/screen-minting-2/assets/war.png
  modules/screen-minting-2/index.js
  modules/screen-minting-2/meta.json
  modules/screen-minting-2/package.json
  modules/screen-minting-2/preview.png
Labels: screen-only

#337 Buy NFT screen
  modules/screen-buy-nft/assets/back.png
  modules/screen-buy-nft/assets/bin.png
  modules/screen-buy-nft/assets/edit.png
  modules/screen-buy-nft/assets/eth.png
  modules/screen-buy-nft/index.js
  modules/screen-buy-nft/meta.json
  modules/screen-buy-nft/package.json
  modules/screen-buy-nft/preview.png
Labels: screen-only

#335 Minting screen
  modules/screen-minting/assets/add.png
  modules/screen-minting/assets/back.png
  modules/screen-minting/assets/choose.png
  modules/screen-minting/assets/collection.png
  modules/screen-minting/assets/down.png
  modules/screen-minting/assets/link.png
  modules/screen-minting/assets/minus.png
  modules/screen-minting/assets/plus.png
  modules/screen-minting/index.js
  modules/screen-minting/meta.json
  modules/screen-minting/package.json
  modules/screen-minting/preview.png
Labels: screen-only

#334 Bank account details screen
  modules/screen-bank-account-details/assets/back.png
  modules/screen-bank-account-details/index.js
  modules/screen-bank-account-details/meta.json
  modules/screen-bank-account-details/package.json
  modules/screen-bank-account-details/preview.png
Labels: screen-only

#333 Business reviews/ratings screen
  modules/screen-business-reviews-ratings/assets/back.png
  modules/screen-business-reviews-ratings/assets/chess.png
  modules/screen-business-reviews-ratings/assets/down.png
  modules/screen-business-reviews-ratings/assets/gray-star.png
  modules/screen-business-reviews-ratings/assets/mini-star.png
  modules/screen-business-reviews-ratings/assets/noti.png
  modules/screen-business-reviews-ratings/assets/star.png
  modules/screen-business-reviews-ratings/assets/timer.png
  modules/screen-business-reviews-ratings/assets/user.png
  modules/screen-business-reviews-ratings/index.js
  modules/screen-business-reviews-ratings/meta.json
  modules/screen-business-reviews-ratings/package.json
  modules/screen-business-reviews-ratings/preview.png
Labels: screen-only

#330 Privacy screen
  modules/screen-privacy/assets/back.png
  modules/screen-privacy/index.js
  modules/screen-privacy/meta.json
  modules/screen-privacy/package.json
  modules/screen-privacy/preview.png
Labels: screen-only

#327 Media screen
  modules/screen-media/assets/back.png
  modules/screen-media/assets/edit.png
  modules/screen-media/assets/upload.png
  modules/screen-media/index.js
  modules/screen-media/meta.json
  modules/screen-media/package.json
  modules/screen-media/preview.png
Labels: screen-only

#326 Events simple screen
  modules/screen-events-simple/assets/back.png
  modules/screen-events-simple/assets/settings.png
  modules/screen-events-simple/assets/star.png
  modules/screen-events-simple/index.js
  modules/screen-events-simple/meta.json
  modules/screen-events-simple/package.json
  modules/screen-events-simple/preview.png
Labels: screen-only

#325 Events advanced screen
  modules/screen-events-advanced/assets/Vector.png
  modules/screen-events-advanced/assets/back.png
  modules/screen-events-advanced/assets/box.png
  modules/screen-events-advanced/assets/checkbox.png
  modules/screen-events-advanced/assets/contact.png
  modules/screen-events-advanced/assets/copy.png
  modules/screen-events-advanced/assets/download.png
  modules/screen-events-advanced/assets/edit.png
  modules/screen-events-advanced/assets/mos.png
  modules/screen-events-advanced/assets/settings.png
  modules/screen-events-advanced/assets/star.png
  modules/screen-events-advanced/assets/user.png
  modules/screen-events-advanced/index.js
  modules/screen-events-advanced/meta.json
  modules/screen-events-advanced/package.json
  modules/screen-events-advanced/preview.png
Labels: screen-only

#369 PLAT-8004: Add react-native-radio-buttons-group to scaffold
  dist/cookie/{{cookiecutter.project_slug}}/package.json
  dist/cookie/{{cookiecutter.project_slug}}/yarn.lock
  dist/raw/ProjectName/package.json
  dist/raw/ProjectName/yarn.lock
  scaffold/template/custom/dependencies.json
Labels: dependencies

#231 Signin screen
  modules/screen-signin/index.js
  modules/screen-signin/meta.json
  modules/screen-signin/package.json
  modules/screen-signin/preview.png
Labels: screen-only

#232 Login screen
  modules/screen-login-2/assets/appleIcon.png
  modules/screen-login-2/assets/checkbox.png
  modules/screen-login-2/assets/fbIcon.png
  modules/screen-login-2/assets/googleIcon.png
  modules/screen-login-2/index.js
  modules/screen-login-2/meta.json
  modules/screen-login-2/package.json
  modules/screen-login-2/preview.png
Labels: screen-only

#384 Fix: Missing root props on scaffold
  .github/workflows/lint.yml
  dist/cookie/{{cookiecutter.project_slug}}/App.js
  dist/raw/ProjectName/App.js
  scaffold/template/custom/App.js
Labels: bug
